<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'form', 
    'translations/new' %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'form', 'translations/new' %>
<% end %>

<% @title = 'Edit translation' %>

<% form_for @translation, :id => 'translation-form', :html => { :onsubmit => 'return validateForm();' } do |f| %>
  <%= f.error_messages %>
  <p>The <b><%= @translation.from_language.description %></b> sentence:</p>
  <fieldset>
    <%= f.text_area :from_sentence, :rows => 2 %>
  </fieldset>
  <p>translates to:</p>
  <fieldset>
    <%= f.text_area :to_sentence, :rows => 2 %>
  </fieldset>
  <p>in <b><%= @translation.to_language.description %></b>.</p>
  <p id="comment-label">Please leave a comment describing<br/>why you edited this translation:</p>
  <fieldset>
    <%= text_area_tag 'comment', nil, :rows => 2 %>
  </fieldset>
  <div class="alert" id="empty-from-sentence">Please type a sentence to translate from.</div>
  <div class="alert" id="empty-to-sentence">Please type a translated sentence.</div>
  <div class="alert" id="empty-comment">Please type a comment.</div>
  <p><%= submit_tag 'save translation', :class => 'button' %></p>
<% end %>
<p><%= link_to_function 'Back', 'javascript:history.back()' %></p>