<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'translations/history' %>
<% end %>

<% @title = 'Edit history' %>

<h1>Edit history</h1>

<table id="edits">
  <tr>
    <th>When</th>
    <th>Who</th>
    <th>From sentence</th>
    <th>To sentence</th>
    <th>Comment</th>
  </tr>

<% for edit in @translation.edits.sort { |x,y| y.edited_at <=> x.edited_at } %>
  <tr>
    <td><%=h edit.edited_at.to_s %></td>
    <td><%=h User.find(edit.user_id).login %></td>
    <td><%=h edit.from_sentence %></td>
    <td><%=h edit.to_sentence %></td>
    <td><%=h edit.comment %></td>
  </tr>
<% end %>
</table>

<br />

<div id="links">
<%= link_to 'Show current translation', show_translation_url(:from_language => @translation.from_language.tag, :to_language => @translation.to_language.tag, :id => @translation.id) %> |
<%= link_to 'Home', base_url %>
</div>